name: been_market
description: Yemen Marketplace App Production Ready v5.1
version: 1.1.0+6

environment:
  sdk: ">=2.20.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.5
  provider: ^6.0.5
  google_fonts: ^4.0.3
  flutter_svg: ^2.1.1
  shared_preferences: ^2.1.1
  http: ^1.1.0
  flutter_staggered_animations: ^1.1.0
  firebase_core: ^3.15.2
  firebase_auth: ^5.7.0
  cloud_firestore: ^5.6.6
  animated_list_plus: ^0.5.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.1

flutter:
  uses-material-design: true
  assets:
    - assets/images/banner.png
    - assets/icons/home.svg
    - assets/icons/cart.svg
    - assets/icons/profile.svg
